.root {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: #20e0a0;
  -fx-background-insets: 0;
}

.textbox {
  -fx-background-color:  #e5e5e5;
  -fx-background-radius: 32px;
  -fx-text-fill: rgb(0, 0, 0);
}


.btn{
  -fx-background-color:  #20e0a0;
  -fx-text-fill: #fff;
  -fx-background-radius: 32px;
  -fx-font-size: 17px;
  -fx-font-family: SansSerif;
  -fx-font-style: Bold;
  -fx-border-radius: 32px;
  -fx-border-color: #20e0a0;

}
.btn:hover {
  -fx-text-fill:  #20e0a0;
  -fx-background-color:  #f4f4f4;
  /*-fx-border-radius: 32px;*/
  /*-fx-border-color: #20e0a0;*/
}


.circlebtn{
  -fx-background-color:  #20e0a0;
  -fx-text-fill: #fff;
  -fx-background-radius: 100px;
}
.circlebtn:hover {
  -fx-text-fill:  #20e0a0;
  -fx-background-color:  #f4f4f4;
  -fx-border-radius: 100px;
  -fx-border-color: #20e0a0;
}


.backbtn{
  -fx-background-color:  #f4f4f4;
  -fx-text-fill: #000;
  -fx-background-radius: 100px;
}
.backbtn:hover {
  -fx-text-fill:  #f4f4f4;
  -fx-background-color:  #20e0a0;
  -fx-border-radius: 100px;
}

.radio-button{
  /* -fx-background-color:  #e5e5e5;
  -fx-border-color: #e5e5e5; */
  -fx-background-radius: 100px;
}

.radio-button:selected .radio .dot {
  -fx-background-color: #20e0a0;
  -fx-background-insets: 0;
}

.entries{
  -fx-text-fill:  #000;
  -fx-background-color:  #f4f4f4;
  -fx-border-radius: 32px;
  -fx-border-color: #000;
  -fx-border-insets: 0px, 5px, 0px, 5px;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected,
.list-cell:focused,
.list-cell:selected,
.list-cell:filled{
  -fx-text-fill:  #000 !important;
  -fx-background-color:  #f4f4f4;
}

.list-cell{
  -fx-border-color: #f4f4f4;
}
.list-cell:empty{
  -fx-background-color:  #f4f4f4;
}


.list-view,
.list-view:filled:selected:focused,
.list-view:selected{
  -fx-text-fill: #000 !important;
  -fx-background-insets: 0;
}

.labelentries{
  -fx-text-fill: #000 !important;
  -fx-font-family: SansSerif;
  -fx-font-size: 15px;
}

.attributi{
  -fx-background-color:  #000000;
  -fx-text-fill: #fff;
  -fx-background-radius: 32px;
}

.date-picker .arrow-button {
  -fx-background-color: #20e0a0;
  -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
  -fx-background-color: #28b07e;
}
.date-picker .arrow-button .arrow {
  -fx-background-color: white;
}
.date-picker .cell {
  -fx-background-color: white;
}
.date-picker .cell:hover {
  -fx-background-color: #20e0a0;
}
.date-picker .cell:focused {
  -fx-background-color: #20e0a0;
}

.date-picker .selected:focused {
  -fx-background-color: #20e0a0;
  -fx-text-fill: #fff;
}
.date-picker-popup  {
  -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
  -fx-background-color: #20e0a0;
}
.date-picker-popup .month-year-pane .label {
  -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
  -fx-text-fill: #20e0a0;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
  -fx-background-color: white;
}
